---
---

/********************
Owner: Zellous Design
Product: Zellous Layouts
Version: 1.1
********************/

$brand-primary: {{ site.data.brand.dark_color_hsl }};
$brand-secondary: {{ site.data.brand.light_color_hsl }};
$brand-accent: {{ site.data.brand.accent_color_hsl }};

// $hero-image: {{ site.pages[0].hero_image }};
// $hero-image: #{'{{ site.data.brand.logo_image }}'};
// $hero-image: #{'{{ site.data.brand.logo_image }}'};

{% for the_page in site.pages %}
    {% if the_page.home_hero_image and the_page.home_hero_image != '' %}
        {% assign home_hero_image = the_page.home_hero_image %}
    {% endif %}
{% endfor %}

$hero-image: #{'{{ home_hero_image }}'};

@import "01-settings",
        "02-tools",
        "03-generic",
        "04-base",
        "05-objects",
        "06-components",
        "07-trumps";
