{% for setting in site.site_settings %}{%
    unless setting.title == "Brand" %}{% continue %}{% endunless %}{%
endfor %}{%


assign location = site.data.brand.location %}{%


if site.data.brand.social_links.["google+"] and site.data.brand.social_links.["google+"] != '' %}{%
    assign google_link = site.data.brand.social_links.["google+"] %}{%
endif %}{%
if site.data.brand.social_links.["facebook"] and site.data.brand.social_links.["facebook"] != '' %}{%
    assign facebook_link = site.data.brand.social_links.["facebook"] %}{%
endif %}{%
if site.data.brand.social_links.["yelp"] and site.data.brand.social_links.["yelp"] != '' %}{%
    assign yelp_link = site.data.brand.social_links.["yelp"] %}{%
endif %}{%
if site.data.brand.social_links.["twitter"] and site.data.brand.social_links.["twitter"] != '' %}{%
    assign twitter_link = site.data.brand.social_links.["twitter"] %}{%
endif %}{%
if site.data.brand.social_links.["instagram"] and site.data.brand.social_links.["instagram"] != '' %}{%
    assign instagram_link = site.data.brand.social_links.["instagram"] %}{%
endif %}{%


if page.footer_next_page_text and page.footer_next_page_text != '' %}{%
    assign footer_next_page_text = page.footer_next_page_text %}{%
    assign footer_next_page_link = page.footer_next_page_link %}{%
elsif layout.footer_next_page_text and layout.footer_next_page_text != '' %}{%
    assign footer_next_page_text = layout.footer_next_page_text %}{%
    assign footer_next_page_link = layout.footer_next_page_link %}{%
else %}{%
    assign footer_next_page_text = site.data.website.footer_next_page_text %}{%
    assign footer_next_page_link = site.data.website.footer_next_page_link %}{%
endif %}
<section class="o-section c-next-page u-space--top--double--neg">
    <div class="o-wrapper">
        <div class="o-grid">
            <div class="o-col u-1/1">
                <a class="c-next-page__text" href="{{ footer_next_page_link }}">{{ footer_next_page_text | replace_first: '*', '<span class="c-next-page__link">' | replace: '*', '</span>' }} <i class="c-next-page__arrow fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<footer class="c-footer">
    <div class="c-footer__upper is-padded">
        <div class="o-wrapper">
            <div class="o-grid">
                <div class="o-col u-2/5 u-1/1@md">
                    <a href="/">{%
                        if assets[resized_logo].width > 200 or assets[resized_logo].height > 120 %}{%
                            image '{{ resized_logo }}' magick:resize:200x120 class:'c-footer__logo o-img u-space--bottom--quarter' alt:'{{ name }} logo' %}{%
                        else %}
                            <img class="c-footer__logo o-img u-space--bottom--quarter" src="{{ logo }}" alt="{{ name }} logo" />{%
                        endif %}
                    </a>
                    <div>
                        {% if google_link %}<a class="c-footer__icon" href="{{ google_link }}" target="_blank"><i style="color: #3E87EC;" class="fa fa-google-plus-square"></i></a>{% endif %}
                        {% if facebook_link %}<a class="c-footer__icon" href="{{ facebook_link }}" target="_blank"><i style="color: #3A5A93;" class="fa fa-facebook-square"></i></a>{% endif %}
                        {% if yelp_link %}<a class="c-footer__icon" href="{{ yelp_link }}" target="_blank"><i style="color: #DB1A28;" class="fa fa-yelp"></i></a>{% endif %}
                        {% if twitter_link %}<a class="c-footer__icon" href="{{ twitter_link }}" target="_blank"><i style="color: #1DA1F2;" class="fa fa-twitter"></i></a>{% endif %}
                        {% if instagram_link %}<a class="c-footer__icon" href="{{ instagram_link }}" target="_blank"><i style="color: #C1327F;" class="fa fa-instagram"></i></a>{% endif %}
                    </div>
                </div>
                <div class="o-col u-2/5 u-1/1@md">
                    <h4 class="editable o-text o-text--heading o-text--sm u-space--bottom--quarter">SERVICE AREAS</h4>
                    <p class="o-text o-text--faint o-text--sm" style="white-space:pre-wrap;">{%
                        for area in site.data.website.service_areas %}{{ area.area }}{% unless forloop.last %}    |    {% endunless %}{% endfor
                    %}</p>
                </div>
                <div class="o-col u-1/5 u-1/1@md">
                    <h4 class="editable o-text o-text--heading o-text--sm u-space--bottom--quarter">CONTACT H&amp;E Machine</h4>
                    <p class="editable o-text o-text--faint o-text--sm">6251 Industrial Avenue<br />Connersville, IN 47331<br />Ph: (765) 825-0541</p>
                    <p class="editable o-text"><a class="o-link o-link--sm" href="/contact/">Send a message&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__bottom is-padded--half">
        <div class="o-wrapper">
            <div class="o-grid">
                <div class="o-col u-1/2 u-1/1@md">
                    <nav class="c-footer-nav o-text o-text--faint o-text--sm u-space--bottom--quarter u-space--bottom--half@sm">
                        <ul>{%
                        assign nav_name = "c-footer-nav" %}{%
                            for footer_nav_page in site.data.footer_nav %}{%
                                if footer_nav_page["external?"] %}{%
                                    assign target = "_blank" %}{%
                                else %}{%
                                    assign target = "" %}{%
                                endif %}{%

                                assign page_url = page.url | remove: ".html" | remove: "/index" %}{%

                                if page_url == "" %}{%
                                    assign page_url = "/" %}{%
                                endif %}
                                <li class="{{ nav_name }}__item">
                                    <a class="{{ is_active }} {{ nav_name }}__page o-text--sm" href="{{ footer_nav_page.url }}" target="{{ target }}"><span class="{{ nav_name }}__page-inner">{{ footer_nav_page.name }}</span></a>
                                </li>{%
                            endfor %}
                        </ul>
                    </nav>
                    <p class="o-text o-text--faint o-text--sm">© {{ 'now' | date: "%Y" }} — {{ name }}. {{ location }}. Crafted with care by <a class="o-link--sm" href="https://zellous.design/?utm_source=HE_Machine">Zellous Design</a></p>
                </div>
                <div class="o-col u-1/2 u-1/1@md u-align--right u-align--left@md">{%
                    for image in site.data.website.footer_images limit:3 %}{%
                        assign footer_image_alt = image.description %}{%
                        assign footer_image = image.image | remove_first: '/uploads/' %}{%
                        if image.link and image.link != '' %}
                        <a class="c-footer-image" title="{{ image.description }}" href="{{ image.link }}" target="_blank">{%
                        endif %}{%
                        if assets[footer_image].width > 140 or assets[footer_image].height > 80 %}{%
                            image '{{ footer_image }}' magick:resize:140x80 class:'c-footer-image o-img' alt:'{{ footer_image_alt }}' %}{%
                        else %}
                            {% if image.image and image.image != '' %}<img class="c-footer-image o-img" src="{{ image.image }}" alt="{{ footer_image_alt }}" />{% endif %}{%
                        endif %}{%
                        if image.link and image.link != '' %}
                        </a>{%
                        endif %}{%
                    endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
