{%
assign logo = site.data.brand.logo_image %}{%
assign resized_logo = site.data.brand.logo_image | remove_first: '/uploads/' %}{%
assign name = site.data.brand.name
%}
<header class="c-header">
    <div class="o-wrapper">
        <div class="o-grid c-header__inner">
            <a class="o-col u-1/5" href="/">{%
                if assets[resized_logo].width > 200 or assets[resized_logo].height > 120 %}{%
                    image '{{ resized_logo }}' magick:resize:200x120 class:'c-header__logo o-img' alt:'{{ name }} logo' %}{%
                else %}
                    <img class="c-header__logo o-img" src="{{ logo }}" alt="{{ name }} logo" />{%
                endif %}
            </a>
            <div class="o-col u-4/5 o-nav c-header-nav u-align--right is-padded--quarter">
                <div class="editable c-header__phone-num"><p class="o-text--sm">Give us a call: &nbsp;<strong>765-825-0541</strong></p></div>
                <nav>{% include nav.html nav_location="header" %}</nav>
            </div>
        </div>
    </div>
</header>{%
assign sorted_alerts = site.site_alerts | sort:"alert_location" | where:'show','true' %}{%
if sorted_alerts.size > 0 %}
<section class="o-section u-invert">{%
    for alert in sorted_alerts %}{%
    if alert.alert_location == "Homepage" and page.page_settings.class != "home" %}{%
        continue %}{%
    endif %}
    <div class="o-alert is-padded--1/8">
        <div class="o-wrapper">
            {{ alert.text_html }}
        </div>
    </div>{%
    endfor %}
</section>
{% endif %}
