{% if include.nav_location == "header" %}
    {% assign nav_name = "c-header-nav" %}
{% elsif include.nav_location == "mobile" %}
    {% assign nav_name = "c-mobile-nav" %}
{% endif %}

<ul>
{% for main_nav_page in site.data.main_nav %}
    
    {% assign page_url = page.url | remove: ".html" | remove: "/index" %}

    {% if main_nav_page.sub_pages.size == 1 %}
        {% for sub_page in main_nav_page.sub_pages %}
            <li class="{{ nav_name }}__item">
                <a class="{{ nav_name }}__page o-text--sm" href="{{ sub_page.url }}" {% if sub_page.open_in_new_tab %}target="_blank"{% endif %}><span class="{{ nav_name }}__page-inner">{{ sub_page.name }}</span></a>
            </li>
        {% endfor %}
    {% else %}
        <li class="{{ nav_name }}__item">
            <a class="{{ nav_name }}__page {{ nav_name }}__page--parent o-text--sm"><span class="{{ nav_name }}__page-inner">{{ main_nav_page.menu_item }}</span></a>
            <ul class="{{ nav_name }}__child-items">
                {% for sub_page in main_nav_page.sub_pages %}
                    <li class="{{ nav_name }}__child-item">
                        <a class="{{ nav_name }}__page {{ nav_name }}__page--child o-text--sm" href="{{ sub_page.url }}" {% if sub_page.open_in_new_tab %}target="_blank"{% endif %}><span class="{{ nav_name }}__page-inner">{{ sub_page.name }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
</ul>