{% if include.nav_location == "header" %}
    {% assign nav_name = "c-header-nav" %}
{% elsif include.nav_location == "mobile" %}
    {% assign nav_name = "c-mobile-nav" %}
{% endif %}

<ul>
{% for main_nav_page in site.data.main_nav %}
<p class="o-text">I'm a page. <br></p>
    
    {% assign page_url = page.url | remove: ".html" | remove: "/index" %}
    
<p class="o-text">page_url: {{ page_url }} <br></p>
    
    {% if page_url == main_nav_page.url or layout.parent_page == main_nav_page.name %}
        {% assign is_active = 'c-active' %}
    {% else %}
        {% assign is_active = '' %}
    {% endif %}

    {% if item.sub_pages.size == 1 %}
        {% for sub_page in item.sub_pages %}
            <li class="{{ nav_name }}__item">
                <a class="{{ is_active }} {{ nav_name }}__page o-text--sm" href="{{ main_nav_page.url }}" {% if sub_page.open_in_new_tab %}target="_blank"{% endif %}><span class="{{ nav_name }}__page-inner">{{ main_nav_page.name }}</span></a>
            </li>
        {% endfor %}
    {% else %}
        <li class="{{ nav_name }}__item">
            <a class="{{ is_active }} {{ nav_name }}__page {{ nav_name }}__page--parent o-text--sm"><span class="{{ nav_name }}__page-inner">{{ main_nav_page.name }}</span></a>
            <ul class="{{ nav_name }}__child-items">
                {% for sub_page in main_nav_page.sub_pages %}
                    <li class="{{ nav_name }}__child-item">
                        <a class="{{ is_active }} {{ nav_name }}__page {{ nav_name }}__page--child o-text--sm" href="{{ main_nav_page.url }}" {% if sub_page.open_in_new_tab %}target="_blank"{% endif %}><span class="{{ nav_name }}__page-inner">{{ main_nav_page.name }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
</ul>